.DS_Store
/.build
/.derivedData
/Packages
xcuserdata/
DerivedData/
*.xcresult
*.xcarchive
*.profraw
dist/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
